@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,600&display=swap');

:root{
  --color-white: #fff;
  --color-black: #101010;
  --color-blue: #2763BD;
  --color-green: #A7D22C;
}
body{
  font-family: "Raleway", helvetica, sans-serif;
  overflow-x: hidden;
}


.fixed-frame{
  position: absolute;
}

h1{
  font-size: 96px;
  font-weight: 600;
  margin-left: 50px;
}
h3{
  font-weight: 600;
  font-size: 64px;
  margin-left: 50px;
  line-height: 100%;
}
h4{
  font-weight: 500;
  font-size: 40px;
  margin-left: 50px;
  line-height: 125%;
}
a{
  text-decoration: none;
}

p{
  font-size: 16px;
  font-weight: 500;
  max-width: 340px;
  margin-left: 50px;
  margin-top: 32px;
  line-height: 130%;
}
button{
  font-family: "Raleway", helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--color-white);
  background-color: var(--color-blue);
  padding: 16px 23px;
  border-radius: 32px;
  border: none;
  box-shadow: none;
  margin-left: 50px;
}
button:hover{
  background-color: #437ACD;
  cursor: pointer;

}

.go--button{
  margin-top: 2vw;
}

.letter-padding{
  color: var(--color-white);
  font-size: 48px;
}
.letter-padding--large{
  color: var(--color-black);
  font-size: 96px;
}
.letter-padding--cover{
  color: var(--color-black);
  font-size: 96px;
}


.section-cover{
  display: flex;
  justify-content: space-between;
  background-color: var(--color-black);
  color: var(--color-white);
}
.section-cover--left img{
  margin: 50px 0 0 50px;
  width: 90px;
}
.section-cover--right img{
  height: 54vw;
}
.section-cover button{
  color: var(--color-black);
  background-color: var(--color-green);
}
.section-cover .head-title{
  margin-top: 80px;
}

.section-search{
  background-color: var(--color-black);
  height: 55vw;
}
.section-search--rounded:hover{
  background-color: var(--color-green);
  transition: 50ms linear;
}
.section-search--rounded{
  background-color: var(--color-blue);
  height: 55vw;
  border-radius: 400px;
}
.section-search--center{
  padding: 23vw 0 0 0;
}
.pseudo-search{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--color-white);
  border-radius: 80px;
  width: 94vw;
  align-items: center;
  padding: 3vw 0 3vw 3vw;
  margin: 0 auto;

}
.pseudo-search img{
  width: 50px;
}
.section-search--yes{
  background-color: var(--color-white);
  padding: 1vw 1vw;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  border-radius: 32px;
  margin: 16vw auto;
  width: 2vw;
}


.section-schools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section-schools--right{
  background-color: var(--color-green);
}
.section-schools--left{
  margin-top: 152px;
}

.surftypes--left{
  display: flex;
  margin: 60px 50px;
  position: absolute;
  z-index: -2;
}
.surftypes--left img{
  padding-right: 10px;
  height: 5vw;
}
.section-schools--right .iphone-schools{
  width: 20vw;
  padding: 186px 170px 0 170px;
  margin: 0;
}
.section-schools h3{
  width: 50vw;
}
.section-schools .go--button{
  margin-top: 16vw;
}




.section-city{
  background-color: var(--color-black);
  height: 55vw;
  padding-top: 6vw;
}
.section-city h1{
  color: var(--color-white);
}
.city__lines{
  margin-top: 3.5vw;
  animation: 6s linear infinite slidein;
}

.city__lines__item:nth-of-type(1), .city__lines__item:nth-of-type(3){
  animation: 4.5s linear infinite slidein-left;
}
.city__lines__item:nth-of-type(2){
  animation: 4.5s linear infinite slidein-right;
}

.city__lines__item{
  display: flex;
  flex-direction: row;
  padding-top: 32px;
}

.city__lines__item span{
  font-size: 48px;
  font-weight: 500;
  margin: 0 24px;
  width: auto;
  border-radius: 10vw;
  padding: 12px 36px;
}
.city__lines__item__fill{
  background-color: var(--color-white);
  color: var(--color-black);
}
.city__lines__item__outline{
  background-color: var(--color-black);
  color: var(--color-white);
  border: 1px solid var(--color-white);
}


@keyframes slidein-right {
  0% {
    margin-left: 15vw;
  }

  50% {
    margin-left: 0vw;
  }

  100% {
    margin-left: 15vw;
  }
}
@keyframes slidein-left {
  0% {
    margin-left: -15vw;
  }

  50% {
    margin-left: 0vw;
  }

  100% {
    margin-left: -15vw;
  }
}





.city__lines {
  width: 400%;
  animation: left 140s linear infinite;
  animation-direction: alternate;
}
.city__lines span{
  color: var(--color-white);
  font-size: 48px;

}
.city__lines__item__blue, .city__lines__item__green{
  font-size: 64px;
}

/* line 567, app/assets/stylesheets/landing.scss */
.city__lines:nth-of-type(2) {
  animation: right 140s linear infinite;
}

/* line 570, app/assets/stylesheets/landing.scss */
.city__lines:nth-of-type(4) {
  animation: right 140s linear infinite;
}

/* line 575, app/assets/stylesheets/landing.scss */
.city__lines__item {
  font-weight: 500;
  font-size: 72px;
}

/* line 580, app/assets/stylesheets/landing.scss */
.city__lines__item .city__lines__item__blue {
  color: #2763BD;
}

/* line 583, app/assets/stylesheets/landing.scss */
.city__lines__item .city__lines__item__green {
  color: #A9D726;
}

@keyframes left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes right {
  0% {
    transform: translateX(-65%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-65%);
  }
}





.section-media{
  display: flex;
  flex-direction: row;
}
.section-media h4{
  width: 50vw;
  margin-top: 240px;
}

.section-media--right{
  display: flex;
  align-items: center;
  z-index: -1;
  margin-left: 30px;
}
.section-media--right img{
  width: 12vw;
  height: auto;
}
.section-media--right img:nth-of-type(1){
  margin-top: -10vw;
}
.section-media--right img:nth-of-type(2){
  margin-top: 10vw;
  margin-left: 30px;
}

 .section-media .go--button{
  margin-top: 4vw;
}


.section-final{
  background-color: #E8E8E8;
  padding: 50px 50px 20px 50px;
  border-radius: 32px 32px 0 0;
  margin-top: 2vw;
}


.section-final--video-overlay{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  /* background-position: center; */
  /* height: 50vw; */
  /* width: 93vw; */
  border-radius: 32px;
  z-index: 10;
  padding: 24vw 21.1vw;

}
.section-final--video-overlay a{
  padding: 24vw;
}
.videocover{
  background-color: var(--color-black);
  background-image: url(../images/video-cover.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 50vw;
  border-radius: 32px;
}

.section-final--infoblocks{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-column-gap: 15px;
  margin-top: 15px;
}
.infoblock-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 20px;
  border-radius: 32px
}

.circle{
  background-color: var(--color-white);
  width: 1vw;
  height: 1vw;
  border-radius: 100%;
}
.infoblock-item--top{
  display: flex;
}
.infoblock-item--top h5{
  margin-left: 6px;
  color: var(--color-white);
}
.infoblock-item p, .infoblock-item button,footer button{
  margin-left: 0;
}
.infoblock-item button{
  background-color: var(--color-white);
  color: var(--color-black);
  margin-top: 10vw;
}
.info--button--large{
  background-color
}


footer{
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  align-items: center;
}
.media-link:hover{
  mix-blend-mode: difference;
  cursor: pointer;
}
footer button{
  background-color: var(--color-black);
  color: var(--color-white);
}
footer button a:hover{
  background-color: var(--color-white);
  color: var(--color-black);
  cursor: pointer;
}
footer .info--button{
  font-size: 18px;
  background-color: var(--color-white);
  padding: 16px 23px;
  border-radius: 32px;
  border: none;
  box-shadow: none;
}
footer a{
  color: var(--color-black);
}
footer a img{
  padding-bottom: 0;
}
